
@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_ContactLayout.cshtml";
}
<div class="card border-0 shadow my-5">
    <div class="card-body p-5">

        <div style="padding-left:16px">
            <br />
            <h1 style="text-align:left; font-size: 50px;">@ViewBag.Title</h1>
            <br />
        </div>

        <div class="col-lg-4 mb-4">
            
            <p>
                Universidad Tecnologica Mariano Escobedo, TICSI
                <br>Classroom: 4ABIS
                <br>
                <hr>
            </p>
            <p>
                <text>Telefono: (811) 019-1391</text> 
            </p>
            <p>
                <text>Email: utetutorias@gmail.com</text>
                
                <hr>
            </p>
            <p>
                <text>
                <a href="https://www.facebook.com/Tutor%C3%ADas-UTE-303312217009225/">
                <img src="~/Images/RedesSociales/facebook_logo.png" width="30" height="30">
                </a>Facebook</text>
            </p>
            <p>
                <text>
                <a href="https://www.youtube.com/channel/UCFURbuOjdsgvi-QpEOdoUZA?view_as=subscriber">
                    <img src="~/Images/RedesSociales/youtube_logo.png" width="30" height="30">
                </a>YouTube</text>
            </p>
            <p>
                <text>
                <a href="https://www.instagram.com/tutoriasute/?hl=es">
                    <img src="~/Images/RedesSociales/instagram_logo.png" width="30" height="30">
                </a>Instagram</text>
                <hr>
            </p>
            <p>
                
            </p>
        </div>
    </div>
</div>


